
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<% include template/header %>
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">
    <div class="title-sp">
        Danh sách sản phẩm
       </div>
       <div id="filterProduct">
        <p> Lọc theo Sản Phẩm <i class="fa fa-angle-down" style="margin-right:660px"></i></p>
       </div>
       <dialog id="filter-wrapper">
       
          
            <form action="/maytinhacer/filter" method="POST">
                <label>Giá:(min:3.000.000 VND,max:30.000.000 VND)</label><br>
             <label>Min:</label><br>
             <div class="slidecontainer">
                <input type="range" min="3000000" max="30000000" value="3000000" class="slider" id="myRange" name="filterMinPrice" step="1000">
                <!-- <p>Value: <span id="demo"></span></p> -->
                <label>Value: </label>
                <input type="text" name="filterMinPrice" id="demo">
              </div>
             <br>

             <label>Max:</label><br>
             <div class="slidecontainer">
                <input type="range" min="3000000" max="30000000" value="30000000" class="slider" id="myRange1" name="filterMaxPrice" step="1000">
                <!-- <p>Value: <span id="demo"></span></p> -->
                <label>Value: </label>
                <input type="text" name="filterMaxPrice" id="demo1">
              </div>
             <br><hr>
             
             <span>
             <label>Trạng thái</label>
             <select name="filterState" id="filterState">
                 <option value="lckhac"></option>
                 <option value="Còn mới">Còn mới</option>
                 <option value="Đã qua sử dụng">Đã qua sử dụng</option>
             </select>
            </span>
            
            <span class="space">
             <label>Khối lượng</label>
             <select name="filterWeight" id="filterWeight">
                 
                     <option value="lckhac"></option>
                     <option value="Nhỏ hơn 1 kg">Nhỏ hơn 1 kg</option>
                     <option value="1 kg"> 1 kg</option>
                     <option value="1.25 kg"> 1.25 kg</option>
                     <option value="1.5 kg"> 1.5 kg</option>
                     <option value="1.75 kg"> 1.75 kg</option>
                     <option value="2 kg"> 2 kg</option>
                     <option value="2.25 kg"> 2.25 kg</option>
                     <option value="2.5 kg"> 2.5 kg</option>
                     <option value="Lớn hơn 2.5 kg">Lớn hơn 2.5 kg</option>
             </select></span><br><hr>

             <span >
             <label>Ram</label>
             <select name="filterRam" class="filterSelect">
                    <option value="lckhac"></option>
                    <option value="Nhỏ hơn 1 GB">Nhỏ hơn 1 GB</option>
                    <option value="1 GB"> 1 GB</option>
                    <option value="2 GB"> 2 GB</option>
                    <option value="4 GB"> 4 GB</option>
                    <option value="6 GB"> 6 GB</option>
                    <option value="8 GB"> 8 GB</option>
                    <option value="16 GB"> 16 GB</option>
                    <option value="32 GB"> 32 GB</option>
                    <option value="Lớn hơn 32 GB">Lớn hơn 32 GB</option>
                  </select></span>

                  <span class="space">
                  <label>Ổ cứng</label>
                  <select name="filterHarddisk" class="filterSelect">
                        <option value="lckhac"></option>
                        <option value="Nhỏ hơn 128 GB">Nhỏ hơn 128 GB</option>
                      <option value="128 GB"> 128 GB</option>
                      <option value="250 GB"> 250 GB</option>
                      <option value="256 GB"> 256 GB</option>
                      <option value="320 GB"> 320 GB</option>
                      <option value="480 GB"> 480 GB</option>
                      <option value="640 GB"> 640 GB</option>
                      <option value="700 GB"> 700 GB</option>
                      <option value="1 TB"> 1 TB</option>
                      <option value="Lớn hơn 1 TB">Lớn hơn 1 TB</option>
                    </select></span><hr>
                    <span>
                    <label>Loại ổ cứng</label>
                    <select name="filterTypeharddisk" class="filterSelect">
                            <option value="lckhac"></option>
                            <option value="SSD">SSD</option>
                            <option value="HHD">HHD</option>
                          </select>
                        </span>
                        <span class="space1" >
                    <label>Card màn hình</label>
                    <select name="filterCard" class="filterSelect">
                            <option value="lckhac"></option>
                            <option value="Onboard">Onboard</option>
                            <option value="AMD">AMD</option>
                            <option value="NVIDIA">NVIDIA</option>
                            <option value="khác">khác</option>
                          </select>
                        </span>
                        <span class="space1" >
                    <label>Bộ vi xử lí</label>
                    <select name="filterChip" class="filterSelect">
                            <option value="lckhac"></option>
                            <option value="Intel Core i3">Intel Core i3</option>
                            <option value="Intel Core i5">Intel Core i5</option>
                            <option value="Intel Core i7">Intel Core i7</option>
                            <option value="Intel Core i9">Intel Core i9</option>
                            <option value="khác">khác</option>
                    </select></span><hr>

             <input type="submit" value="Lọc" id="filterSubmit">
             
         </form>
        
      </dialog>
       <div class="cuon-1" id =" frame-1">
         <table class="table-listproduct">
                 <tr class="table-listproduct">
                     <% if(data.length==0){%>
                      <h2>Bạn chưa đăng sản phẩm nào </h2>
                   <% } else {  data.forEach((da)=>{%>
                     <th style="display:inline-block;" class="table-listproduct">
                         <a href="/sp/sp/<%= da._id%>"><img id="0" src="/image/<%= da.image%>" width="150px" height="150px"></a><br>
                         <span class ="ten" id = "ten-1"><%= da.name%></span><br>
                         <span class ="gia" id = "gia-1"><%= da.price%> VND</span><br>      
                     </th>
                   <% })} %>
                
                 </tr>
         </table>
       </div>
</div>
</div>
<% include template/popup %>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
</body>
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    // output.innerHTML = slider.value;
    output.value = slider.value;
    
    slider.oninput = function() {
      output.value = this.value;
    }

   
    </script>
    <script>
          var slider1 = document.getElementById("myRange1");
    var output1 = document.getElementById("demo1");
    // output.innerHTML = slider.value;
    output1.value = slider1.value;
    
    slider1.oninput = function() {
      output1.value = this.value;
    }
    </script>
</html>