<% include template/body1 %>
<!-- <% if (phone) { %>
    <div class ="register-validator"> PhoneNumber is not right! </div> 
<% } %> -->
<form method="post" action="/forgetPassword">
   <label> Nhập số điện thoại bạn đã đăng đăng kí để xác nhận </label>
   <input type="tel" name="numberPhone" id="numberPhone" placeholder="Nhập số điện thoại .Bắt đầu bằng 84" >
   <input type="submit" name="sendcode" class="sendcode" value="send">
</form>
<% include template/body2 %>