<% include template/body1 %>

<h2 class="page-header">Register</h2>
<% if (user) {%>
        <div class="register-validator">Username has taken already try new</div> 
     <% } %>
<% if (mail) {%>
        <div class="register-validator">Email has taken already try new</div> 
          <% } %>
<% if (phone) {%>
  <div class="register-validator">PhoneNumber has taken already try new</div> 
    <% } %> 
<% if(errors){ %>
    <ul>
        <% errors.forEach(function(error){ %>
            <li class ="register-validator"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<div class="form-format">
<form method="POST" action="/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>

   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>

  <div class="form-group">
      <label>PhoneNumber</label>
      <input type="number" class="form-control" placeholder="Example:841634825349" name="PhoneNumber" id ="PhoneNumber ">
    </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>

  <button type="submit" class="form-button">Submit</button>
</form>
</div>

<% include template/body2 %>