<% include template/body1 %>
<% if(errors){ %>
    <ul>
        <% errors.forEach(function(error){ %>
            <li class ="register-validator"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<div class="form-format">
<form method="POST" action="/resetPassword">

<div class="form-group">
  <label>Nhập mã code </label>
  <input type="number" name="codeReset" class="form-control" placeholder="nhập mã code nhận được" >
</div>

<div class="form-group">
  <label>Nhập mật khẩu mới </label>
  <input type="password" name="resetPassword" class="form-control" placeholder="Nhập mật khẩu mới" >
</div>

<div class="form-group">
  <label>Xác nhận mật khẩu </label>
  <input type="password" name="resetPassword2" class="form-control" placeholder="Nhập lại mật khẩu" >
  <input type="submit" class="sendcode" value="Xác nhận">
</div>
</form>
</div>

<% include template/body2 %>