<!doctype html>
<html>
    <head>
        <title>
            app read books
        </title>
        <script src="/js/jqurey.js"></script>
         
        <script src="/socket.io/socket.io.js"></script>
       
        <script src="/js/chucnang.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/footer.css" type="text/css" >   
        <link rel="stylesheet" href="/css/template.css" type="text/css" >  
        <link rel="stylesheet" href="/css/body.css" type="text/css" >  
        <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" >  
       
        <link rel="stylesheet" href="/css/DinhDang.css" type="text/css" >  
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" > 
    </head>
    <body>
  