<!-- NAV STARTS HERE -->
<div id="nav">
<div id="nav_title">
<span> <i class="fa fa-list"></i> Danh mục sản phẩm </span>
</div>
<div id="nav-inner">
<nav id="AlphaNav">
<ul >
<li>
    <a href = "/Maytinh/dell" class="title-text"><h5>Máy tính Dell</h5></a>
</li>

<li>
    <a href = "/Maytinh/asus" class="title-text"><h5>Máy tính Asus</h5></a>

</li>

<li>
<a href = "/Maytinh/lenovo" class="title-text"><h5>Máy tính Lenovo </h5></a>

</li>

<li>
    <a href = "/Maytinh/hp" class="title-text"><h5>Máy tính Hp </h5></a>

</li>

<li>
    <a href = "/Maytinh/acer" class="title-text"><h5>Máy tính Acer </h5></a>

</li>
<li>
    <a class="title-text" href="/San-pham-khac-297.html"><h5>Máy tính khác</h5></a>
</li>
</ul>
</nav>
</div>
</div>
<!-- NAV ENDS HERE -->
