<!-- NAV STARTS HERE -->
<div id="nav">
<div id="nav_title">
<span> <i class="fa fa-list"></i> Danh mục sản phẩm </span>
</div>
<div id="nav-inner">
<nav id="AlphaNav">
<ul >



<li>
    <a href = "#" class="title-text"><h5>Máy tính<i class="fa fa-angle-double-down"></i></h5></a>
<ul class="fix-ul">
<li>
<a href="/Maytinh/dell">Máy tính Dell                                           </a>
</li>
                <li>
<a href="/Be-an-73.html">Máy tính ASUS                                              </a>
</li>
                <li>
<a href="/Be-an-74.html">Máy tính Lenovo                                            </a>
</li>
                <li>
<a href="/Be-an-75.html">Máy tính Hp                                              </a>
</li>
                <li>
<a href="/Be-an-76.html">Máy tính Acer                                           </a>
</li>
</li>
        </ul>
</li>

<li>
    <a href = "#" class="title-text"><h5>Chuột<i class="fa fa-angle-double-down"></i></h5></a>
<ul class="fix-ul">
<li>
<a href="/Be-mac-39.html">Tất cả</a>
</li>
                <li>
<a href="/Be-mac-40.html">Chuột Dell                                         </a>
</li>
                <li>
<a href="/Be-mac-41.html">Chuột ASUS                                          </a>
</li>
                <li>
<a href="/Be-mac-42.html">Chuột Lenovo                                           </a>
</li>
                <li>
<a href="/Be-mac-50.html">Chuột HP                                          </a>
</li>
                <li>
<a href="/Be-mac-51.html">Chuột Acer                                           </a>
</li>
        </ul>
</li>

<li>
<a href = "#" class="title-text"><h5>Ổ cứng<i class="fa fa-angle-double-down"></i></h5></a>
<ul class="fix-ul">
<li>
<a href="/Be-ngu-268.html">Tất cả</a>
</li>
                <li>
<a href="/Be-ngu-269.html">HHD dell                                            </a>
</li>
                <li>
<a href="/Be-ngu-270.html">HHD Asus                                       </a>
</li>
                <li>
<a href="/Be-ngu-271.html">HHD Lenovo                                         </a>
</li>
      </ul>
</li>

<li>
    <a href = "#" class="title-text"><h5>Bàn phím<i class="fa fa-angle-double-down"></i></h5></a>
<ul class="fix-ul">
<li>
<a href="/Be-tam-232.html">Tất cả</a>
</li>
                <li>
<a href="/Be-tam-233.html">Chậu tắm và phụ kiện                                            </a>
</li>
                <li>
<a href="/Be-tam-234.html">Đo nhiệt độ tắm cho bé                                            </a>
</li>
                <li>
<a href="/Be-tam-235.html">Khăn mặt, Khăn tắm cho bé                                            </a>
</li>
                <li>
<a href="/Be-tam-236.html">Đồ chơi khi tắm                                            </a>
</li>
                <li>
<a href="/Be-tam-237.html">Sữa tắm, dầu gội                                            </a>
</li>
                <li>
<a href="/Be-tam-238.html">Mũ chắn nước                                            </a>
</li>
        </ul>
</li>

<li>
    <a href = "#" class="title-text"><h5>Tai nghe<i class="fa fa-angle-double-down"></i></h5></a>
<ul class="fix-ul">
<li>
<a href="/Be-ve-sinh-54.html">Tất cả</a>
</li>
                <li>
<a href="/Be-ve-sinh-55.html">Vệ sinh tóc, tai, tay, chân, răng, miệng                                            </a>
</li>
                <li>
<a href="/Be-ve-sinh-62.html">Kem hăm, dưỡng da, phấn rôm                                            </a>
</li>
                <li>
<a href="/Be-ve-sinh-67.html">Bỉm và tã giấy cho bé                                            </a>
</li>
                <li>
<a href="/Be-ve-sinh-68.html">Giấy ướt và máy ủ giấy ướt                                            </a>
</li>
                <li>
<a href="/Be-ve-sinh-69.html">Bô vệ sinh, nắp toilet                                            </a>
</li>
                <li>
<a href="/Be-ve-sinh-70.html">Tấm lót chống thấm                                            </a>
</li>
        </ul>
</li>
<li>
    <a class="title-text" href="/San-pham-khac-297.html"><h5>Phụ kiện khác</h5></a>
</li>
</ul>
</nav>
</div>
</div>
<!-- NAV ENDS HERE -->
