/*=====BODY======*/
body{
	padding:2em;
	padding-top:0.2em;
	background-color:#dadada;
	}
	
	
	/*=====CONTAINER======*/
	#contanier{
	text-align:left;
	max-width:986px;
	min-width:730px;
	margin-left:auto;
	margin-right:auto;
	/* margin:0px auto; */
	
	}
	
	
	/*=====================INNER=================*/
	#header-inner,nav-inner,content-inner,footer-inner{
	overflow:hidden;
	}
	
	
	
	/*=====HEADER======*/
	#header{
	background-color:#f1f1f1;
	height:200px;
	margin-bottom:5em;
	
	}
	#header-inner1{
	padding:1em 2em;
	overflow: hidden;
	height:35%;
	background-color:gray;
	border-radius:5px;
	}
	#header-inner1-title{
		font-size:1.5em;
		position:relative;
		top:-10px;
		left:-50px;
		float: left;
		width:50%;
		
	}
	#header-inner1-image{
	float:left;
	width:25%;
	}
	#header-inner1-image-inner{
		width:100%;
	}
	
	.header-inner-link ul,.header-inner2-link ul{
	list-style:none;
	}
	.header-inner-link ul li,.header-inner2-link ul li{
	display:inline;
	}
	.header-inner-link ul li a,.header-inner2-link ul li a{
		text-decoration:none;
		color:#000;
		padding:1em;
	}
	.header-inner-link ul li a:hover,.header-inner2-link ul li a:hover{
		opacity:0.5;
	}
	
	.fa{
		
		padding: 0 0.5em;
		font-size:1.5em;
	}
	#header1-inner-link2 a{
		color:#000;
	}
	#header-inner2{
		height:65%;
		background-color:#d3d3d3;
		border-radius:5px;
		}
	
	.header-inner2-form{
	margin-left:500px;
	padding-top:0.2em;
	}
	.header-inner2-form-input{
	width:400px;
	height:40px;
	border:1px solid gray;
	border-radius:5px;
	}
	.header-inner2-form-button{
	border:1px solid gray;
	border-radius:5px;
	position:relative;
	bottom:-0.2em;
	}
	.header-inner2-link{
		display: flex;
		justify-content:flex-end;
		padding-top:0.4em;
	}
	#info{
		display: none;
	width: 15%;
	height: 50px;
	margin-top: 1%; 
	margin-left: 85%;
	line-height: 20px;
	background-color: rgb(238, 150, 212);
	}
	#user :hover{
		cursor: pointer;
	}

	/*=====NAVIGATION======*/
	
	
	#nav_title{
			text-align:center;
			/*background-color:#d3d3d3;*/
			margin:0em 0.5em;
			width:81.5%;
			font-size:1.3em;
			background-color: #679bef;
			padding: 0.5em;
			border-radius:5px;
			margin-left:0;
		}
		#nav-inner{
		padding:0 0.8em;
		width:80%;
		background-color: #e3e7ed;
		
		margin-top: 0px;
		height: 580px;
		border-radius:5px;
		}
		#AlphaNav{
			overflow-y: scroll;
			height: 90%;
		}
		#nav-inner ul li{
			padding:0.01em;
			list-style:none;
			border-bottom:2px solid #dadada;
		}
		#nav-inner ul li a{
			text-decoration:none;
			color:#000;
		}
		
		h5{
			margin:14px 0;
		}
		.fa-angle-double-down,.fa-angle-double-up{
			float:right;
		
		}
		/*-------GET LIST PRODUCT --------*/
		
		#AlphaNav li{
			list-style:none;
			padding:0.8em;
			border-bottom:1px solid #dadada;
		}
		#AlphaNav ul li a:hover{
			opacity:0.5;
		}
		.title-text{ 
			text-decoration:none;
			color:black;
			
		}
		.fix-ul li{
			margin-left:-2em;
			padding:1em 0;
		}
		.fix-ul li a{
			
			text-decoration:none;
			color:black;
			
		}
		#AlphaNav ul li ul{
			display:none;
		}
		#AlphaNav ul li ul li{
			padding:0.6em 0;
		}
		
	
	
	/*---------------------CONTENT---------------------------*/
	#content{
	margin-left:300px;
	background-color:#f1f1f1;
	}
	#content-inner{
	padding:0 1em 1em 1.5em;
	}
	
	
	
	
	/*-----------------------------FOOOTER---------------------------------------------*/
	#footer_container{
		clear:both;
	}
	
	
	/*--------------register-validator ----*/
	.register-validator{
		margin:1em;
		text-decoration:none;
		border:1px solid #ff3333;
		border-radius: 4px;
		background-color: #FACE9C;
		list-style:none;
		width:40%;
		height:30px;
		padding:0.5em;
	}
	
	/*------------LOGIN-----------*/
	.forgotPS{
		text-decoration: none;
		margin-right:1em;
		font-size:0.9em;
		float: right;
		margin-top:0.3em;
		border: 1px solid #d3d3d3;
		padding:0.5em;
	}
	#numberPhone{
		width:300px;
		padding:0.5em;
		border:1px solid #dadada;
		border-radius: 4px;
	}
	.sendcode{
		padding:0.5em 1em;
		border:1px solid #dadada;
		border-radius: 4px;
		background-color: #679bef
		
	}
	
	/*------------USER OPTION -------*/
	
	#user-option{
		display: none;
	
	}
	
	#user-option li{
		display: block;
		margin-left:82%;
		padding-top:4px;
		
	}
	#user:hover #user-option{
		display: block;
	}

	/* modifier user information */
	.input-info{
		padding:5px;
		border-radius: 5px;
	}

	#right{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: normal
		
	}